.advantage__title {
    line-height: 42px;
    letter-spacing: 0.03em;
}

.advantage__list {
    // display: flex;
    justify-content: space-between;
}

.advantage__item {
    // width: 270px;
    width: 100%;
    display: block;
}

.advantage-picture__zone {
    // width: 270px;
    width: 100%;
    height: 120px;
    display: flex;
    background: #f5f4fa;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.advantage-picture {
    display: block;
    width: 70px;
    height: 70px;
}

.advantage__topic {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.advantage__paragrph {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
