.advantage__title {
  line-height: 42px;
  letter-spacing: 0.03em;
}

.advantage__list {
  @media screen and (min-width: 768px) {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.advantage__list > .advantage__item {
  flex-basis: 100%;
  &:not(:last-child){
      margin-bottom: 30px;
  }


  @media screen and (min-width: 768px) {
    &:not(:last-child){
        margin-bottom: 0px;
    }
  
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.advantage-picture__zone {
  // width: 270px;
  width: 100%;
  height: 120px;
  display: flex;
  background: #f5f4fa;
  align-items: center;
  justify-content: center;
}

.advantage-picture {
  display: block;
  width: 70px;
  height: 70px;
}

.advantage__story {
  margin-top: 30px;
}

.advantage__topic {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.advantage__paragrph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
