.footer {
  background-color: #2f303a;
  // display: flex;
  // align-items: center;
  padding: 60px 0px;
}

.footer-card {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
}
}
.footer-data {
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
   
}

.footer-data__mail,
.footer-data__phone,
.footer-data__address {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}

.footer-data__address {
  color: #ffffff;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  @media screen and (min-width: 1200px) {
    text-align: start;
}

}

.footer-data__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200) {
    display: flex;
    justify-content: start;
  }

}

.footer-social {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200) {
margin-bottom: 0px;  }

}

.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social .team-icon__pic {
  fill: #ffffff;
}

.cocial-icons__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-send {
  text-align: center;
  @media screen and (min-width: 1200px){
  margin-left: 93px;
  }
    
}

.footer-send__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-send__fild {
  text-align: center;

  @media screen and (min-width: 1200px){
  display: flex;
}
}
.footer-send__mail {
  background-color: #2f303a;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px){
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;


}

}

.footer-send__button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-send__name {
  margin-right: 10px;
}

.footer-send__telegram {
  width: 24px;
  height: 24px;
}
