.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger-menu {
  width: 44px;
  height: 44px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-nav {
  align-items: center;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.header-nav__list {
  display: flex;
}

.header-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header-contacts {
  margin-left: auto;
  margin-right: 10;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header-contacts__list + .header-contacts__list {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header-contacts__mail {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.header-contacts__phone {
  display: flex;
  align-items: flex-end;
}

.header-contacts__mail,
.header-contacts__phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  
  white-space: nowrap;
  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}

.header-contacts__icon {
  fill: currentColor;
  width: 18px;
  height: 15px;
  margin-right: 10px;
}

.header-nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.marker-index::after,
.marker-portfolio::after {
  position: absolute;
  top: 52px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-text-color);
  border-radius: 50px;
  @media screen and (min-width: 1200px) {
    top: 46px;
  }
}

.header-menu-open {
  background: transparent;
  border: transparent;
}

.header__burger-menu{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
  fill: var(--accent-text-color);
}
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 48px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  right: 0;
}

.header-menu__close {
  position: absolute;
  text-align: center;
  width: 40px;
  height: 40px;
  right: 15px;
  top: 10px;
  background: transparent;
  border: transparent;
}
.header-close-icon {
  width: 19px;
  height: 19px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-menu__close &:hover, .header-menu__close &:focus{
    fill: var(--accent-text-color);
  }
}

.mob-menu-list {
  margin-bottom: 302px;
}

.header-menu__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.header-menu__cont{
  margin-bottom: 64px;

}  

.header-menu-contacts__phone, .menu-social{
  color: var(--accent-text-color);
}

.header-menu__link, .header-menu-contacts__mail{
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus, &:hover{
    color: var(--accent-text-color);
  }
}



.header-menu-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.header-menu-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu-social {
  display: flex;
  // margin-top: 64px;
}

.menu-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: #2196f3;

  &:not(:last-child) {
    border-right: 1px solid #ececec;
    padding-right: 10px;
  }

  padding-right: 10px;
  &:not(:first-child) {
    padding-left: 10px;
  }
}
.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
