.hero {
    // max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 118px 0px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/43hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px){
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-tablet.jpg);
    }

    @media screen and (min-width: 1200px){
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero/hero-desktop.jpg);

    }

}

.hero-wall {
    background: #c4c4c4;
    }

.hero__title {
    font-weight: 900;
    font-size: 21px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;

    @media screen and (min-width: 480px){
        font-size: 26px;

    }
    
    @media screen and (min-width: 1200px){
    font-size: 44px;

    }
}
