:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
}

address {
    all: initial;
}

body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link,
button {
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubcubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

img {
    display: block;
    max-width: 100%;
}

/*---------------------header-----------------------*/
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-block-color: #ececec;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 95px;
}

.logo-black {
    color: var(--primary-text-color);
}

.logo-white {
    color: #ffffff;
}

.header-nav__list {
    display: flex;
}

.header-contacts {
    margin-left: auto;
    margin-right: 10;
    display: flex;
    align-items: center;
}

.header-nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav__link:hover,
.header-nav__link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.header-contacts__mail {
    display: flex;
    align-items: flex-end;
}

.header-contacts__phone {
    display: flex;
    align-items: flex-end;
}

.header-contacts__mail,
.header-contacts__phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-left: 50px;
    white-space: nowrap;
}

.header-contacts__mail:hover,
.header-contacts__phone:hover,
.header-contacts__mail:focus,
.header-contacts__phone:focus,
.header-contacts__mail:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.header-contacts__icon {
    fill: currentColor;
    width: 18px;
    height: 15px;
    margin-right: 10px;
}

.header-contacts__icon use {
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-nav__item {
    position: relative;
}

.marker-index::after,
.marker-portfolio::after {
    position: absolute;
    top: 46px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-text-color);
    border-radius: 50px;
}

/*-------------------section gero-----------------*/

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-wall {
    background: #c4c4c4;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 45px;
}

.button-blue {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-text-color);
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
}

.button-blue:focus,
.button-blue:hover {
    color: ffffff;
    background-color: #188ce8;
}

/*-------------------advantage-----------------*/

.advantage-picture {
    display: block;
    width: 70px;
    height: 70px;
}

.advantage-picture__zone {
    width: 270px;
    height: 120px;
    display: flex;
    background: #f5f4fa;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.advantage__title {
    line-height: 42px;
    letter-spacing: 0.03em;
}

.advantage__topic {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.advantage__paragrph {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.advantage__list {
    display: flex;
    justify-content: space-between;
}

.advantage__item {
    width: 270px;
    display: block;
}

/*-------------------do-----------------*/

.do {
    padding-top: 0;
}

.do__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.do__list {
    display: flex;
    justify-content: space-between;
}

.do__item {
    position: relative;
}

.do__offer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
}

/*-------------------team-----------------*/

.team {
    background: #f5f4fa;
}

.team-list__item {
    background-color: #ffffff;
    box-shadow: #000000;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.team-list__position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.team-list__img {
    margin-bottom: 30px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.cocial-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 44px;
}

.cocial-icons__zone {
    width: 44px;
    height: 44px;
}

.cocial-icons__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* background-color: tomato; */
}

.cocial-icons__zone:not(:last-child) {
    margin-right: 10px;
}

.team-icon__pic {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
}

.cocial-icons__link:hover,
.cocial-icons__link:focus,
.cocial-icons__link:hover .team-icon__pic,
.cocial-icons__link:focus .team-icon__pic {
    fill: #ffffff;
    background-color: var(--accent-text-color);
}

/*-------------------klient-----------------*/

.klient-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.klient-list {
    display: flex;
    max-width: 1200;
}

.klient-item {
    flex-basis: 170px;
}

.klient-item:not(:last-child) {
    margin-right: 30px;
}

.klient-link {
    display: block;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.klient-link:hover,
.klient-link:focus,
.klient-link:hover use,
.klient-link:focus use {
    border: 1px solid #2196f3;
    fill: #2196f3;
}

.klient-logo {
    max-width: 100%;
    height: 46.7px;
    fill: #afb1b8;
}

/*-------------------footer-----------------*/

.footer {
    background-color: #2f303a;
    display: flex;
    align-items: center;
    padding: 60px 0px;
}

.footer-data__mail,
.footer-data__phone,
.footer-data__address {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-data__address {
    color: #ffffff;
}

.footer-data__mail:hover,
.footer-data__phone:hover,
.footer-data__address:hover,
.footer-data__mail:focus,
.footer-data__phone:focus,
.footer-data__address:focus {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.footer-logo {
    margin-bottom: 20px;
    display: block;
}

.footer-data__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-section {
    display: flex;
}

.social {
    margin-left: 70px;
}

.social-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.social .team-icon__pic {
    fill: #ffffff;
}

.cocial-icons__link {
    background: rgba(255, 255, 255, 0.1);
}

.footer-send {
    margin-left: 93px;
}
.footer-send__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}
.footer-send__fild {
    display: flex;
}
.footer-send__mail {
    background-color: #2f303a;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-send__button {
    display: flex;
    align-items: center;
}

.footer-send__name {
    margin-right: 10px;
}

.footer-send__telegram {
    width: 24px;
    height: 24px;
}

/*=+=+=+=+=+=+=+=+=+= portfolio =+=+=+=+=+=+=+=+=*/

/*-------------------works-----------------*/

.works-title {
    font-weight: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.work-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding: 6px 22px;
    background: #f5f4fa;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.02);
}

.work-button:hover,
.work-button:focus {
    color: #ffffff;
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.works-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.works-filter:not(:last-child) {
    margin-right: 8px;
}

.works-project {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.works-discription {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
}

.works-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.works-item:hover,
.works-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-item:nth-child(3n) {
    margin-right: 0;
}

.works-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.work-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.work-img::after {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    content: " Мені тринадцятий минало. Я пас ягнята за селом. Чи то так сонечко сіяло, Чи так мені чого було? Мені так любо, любо стало, Неначе в бога.";
    font-weight: normal;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 64px 24px;

    transform: translateY(100%);
    transition: transform 250ms;
}

.works-item:hover .work-img::after {
    transform: translateY(0);
}

.work-signature {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: auto;
    border: 1px solid #eeeeee;
    border-top: none;
}

/*=+=+=+=+=+=+=+=+=+= other =+=+=+=+=+=+=+=+=*/

/*-------------------modalka-----------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    padding: 40px;
    width: 528px;
    height: 581px;
    background: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.modal-close__img {
    width: 11px;
    height: 11px;
    fill: #000000;
}
.modal-close:hover .modal-close__img,
.modal-close:focus .modal-close__img {
    fill: var(--accent-text-color);
}

.modal-close:focus {
    outline: none;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form__head {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.modal-form__field {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.modal-form__wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
    outline: none;
    border-color: var(--accent-text-color);
}

.modal-form__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__icon {
    fill: var(--accent-text-color);
}

.modal-form__message {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
}

.modal-form__message:focus {
    outline: none;
    border-color: var(--accent-text-color);
}

.modal-form__fild {
    position: relative;
    /* display: flex; */
}

.modal-form__checkbox-label::before {
    position: absolute;
    left: 10px;
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-form__checkbox:checked ~ .modal-form__checkbox-label::before {
    border: none;
}

.modal-form__checkbox:focus ~ .modal-form__checkbox-label::before {
    border: 2px solid var(--accent-text-color);
}

.modal-form__checkbox:checked ~ .modal-form__border > .modal-form__icon-check {
    position: absolute;
    display: inline-flex;
    width: 16px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.modal-form__icon-check {
    display: none;
}

.modal-form__checkbox-label {
    margin-left: 37px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contact-form__button {
    display: block;
    margin: auto;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-text-color);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* .contact-form {
    width: 528px;
    height: 581;
    padding: 15px;
    margin: 0 auto;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.contact-form-input {
    width: 100%;
    padding: 10px;
    padding-left: 50px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
}
.contact-form__button {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-text-color);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
} */


.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/hero/hero-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 480px;
  height: 400px;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero@2x-min.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/hero/hero-min-tablet.jpg');

    max-width: 768px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-min-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: url('../images/hero/hero-min-desktop.jpg');

    max-width: 1600px;
    height: 600px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-min-desktop@2x.jpg');
    }
  }
}

// .hero-container {
//   display: flex;
// }

// .hero-social-links-list {
//   transform: rotate(-90deg) translateX(-18px);
//   transform-origin: left top;
// }

// .hero-left-side {
//   display: flex;
//   align-items: flex-end;
//   width: 100px;
//   padding-left: 34px;
//   padding-bottom: 40px;
// }

// .hero-right-side {
//   flex-grow: 1;
//   background-color: #303030;
//   background-image: linear-gradient(
//       rgba(25, 28, 38, 0.2),
//       rgba(25, 28, 38, 0.2)
//     ),
//     url('../images/hero/bg.jpg');
//   background-size: cover;
//   padding-top: 272px;
//   padding-bottom: 206px;
//   padding-left: 100px;
// }

// .hero-title {
//   font-family: var(--secondary-font);
//   font-weight: 700;
//   font-size: 72px;
//   line-height: 1.18;
//   letter-spacing: 0.05em;
//   margin-bottom: 20px;
//   color: #ffffff;
// }

// .hero-description {
//   max-width: 400px;
// }

    © 2021 GitHub, Inc.

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

Loading complete