.cocial-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}

.cocial-icons__zone {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.cocial-icons__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
    }
}

.team-icon__pic {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .cocial-icons__link:hover &,
    .cocial-icons__link:focus & {
        fill: #ffffff;
    }
}
